{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="col-md-8 col-sm-12">
        <h1>About us</h1>
      </div>
      <div>
        <p>This is a weather station project, what can store Data about weather from accuweather,
          openweather services and own weatherstation like based on Arduino or ESP8266.</p>
    </div>
    <div class="col-md-4 col-sm-12">
    </div>
  </div>
  <div class="card m3">
    {{ temp }}
    {{ precipitation }}
  </div>

{% endblock %}
